@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove native number input spin buttons when using our +/- controls
	 We target webkit and firefox. Add `no-spinner` to inputs we want to hide. */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-spinner {
	-moz-appearance: textfield; /* hide spinner in Firefox */
}
